<div style="background:green rgb(0,128) " class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <a style="color: black rgb(0,0); font-size: 25px;" class="navbar-brand" href="/">News Highlights</a>
      <div class="navbar-collapse collapse">
        <ul class="nav nav-tabs">
          <li class="nav-item dropdown">
         <!--    <a style="color: rgb(200, 200, 200); font-size: 18px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="hover" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              News Category
            </a> -->
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="#" role="hover" aria-haspopup="true" aria-expanded="false " style="color:rgb(177, 177, 177);
              background-color:green rgb(0,128) ;
            ">
            News Category</a>
            <div style="background: red rgb(255,0); font-size: 16px;" class="dropdown-menu">
              <a  class="dropdown-item" style="color: white; text-decoration: none;" href="/search/Sports">News</a><br>
              <a  class="dropdown-item" style="color: white; text-decoration: none;" href="/search/Entertainment">Counties</a><br>
              <a class="dropdown-item" style="color: white; text-decoration: none;" href="/search/Business"></a>Business<br>
              <a class="dropdown-item" style="color: white;text-decoration: none;" href="/search/Travel">Life and style</a>
                                    
            </div>
          </li>
        </ul>
      <div style="float: right; margin-top: 10px">
          <form class="form-inline my-2 my-lg-0">
            <input style="background: white rgb(255,255)border= 0; width: 60vh; color: whitesmoke" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              name="news_query">
            <button class="btn btn-secondary" type="submit" value="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>